/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

 /*
iframe {
width: 1000px;
height: 500px;
}
*/

body {
font-size: 110%;
background-color: #eef2f3;
}

input[type='text'] {
font-size: 110%;
border-radius: 2px;
}


button, input[type='button'], input[type='submit'] {
background-color: rgba(76,150,193,1);
}

/* Style inputs, buttons, and page through CSS and not jQuery UI */


section {
margin: 5% 1%;
}


